* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    // font-family: 'Trebuchet MS', sans-serif;
}

body {
    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // background-size: 400% 400%;
    // animation: gradient 15s ease infinite;
    // height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

section {
    // font-family: 'Trebuchet MS', sans-serif;
    // font-size: 3rem;
    // font-size: 3vw;

    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg,#23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;

    background-color: #0B1215;
    color: #fff;

    li{
        font-size: 2rem;
    }

    // height: calc(100vh - 3rem);
    height: 100vh;
    max-width: 100vw;

    display: flex;
    justify-content: start;
    align-items: center;

    padding: 3rem;

    .container{
        width: 100%;
    }

    .resume{
        display: flex;
        justify-content: center;
    }

    .timeline{
        display: flex;
        justify-content: space-around;
    }

}

.hero {
    // width: 100%;
    display: flex;
    justify-content: center;

    &-content {
        text-align: center;
        z-index: 5;
        // background-color: #FFFFFF;
        max-width: 50vw;
    }
}

canvas{
    max-width: 100%;
    height: 100vh;
    // background: #000;

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 1;
}

button {
    // background-color: #0B1215;
    // color: #fff;
    margin-top: 20px;
    font-weight: bold;
    border-width: 0;
    cursor: pointer;
    // display: inline-block;
    font-size: 14px;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
}

button:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #7F5283;
    color: #000;
    font-weight: bold;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

button:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

button:after {
    // background-color: #e3e3e3;
    color: #000;
    font-weight: bold;
}

button span {
    z-index: 1;
    position: relative;
}

@media screen and (min-width: 800px) {
    section {
        font-size: 45px;
    }
}

@media screen and (max-width: 799px) {
    section {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    section {
        font-size: 30px;
        padding: 1rem;

        .hero-content{
            max-width: unset;
        }
    }
}

@media screen and (max-width: 400px) {
    section {
        font-size: 20px;
        padding: 1rem;

        .hero-content {
            max-width: unset;
        }
    }
}