<!-- <app-navbar></app-navbar> -->
<!-- <canvas #myCanvas (mousemove)="trackMouse($event)"></canvas> -->
<canvas #myCanvas></canvas>

<section class="hero" id="hero">
    <div class="hero-content">
        <h1>Hi, I'm Jai Pawar</h1>
        <h3>your next <span class="aaa">full-stack</span> web developer.</h3>
        <button>Download resume</button>
        <div class="aaa"></div>
    </div>
</section>
<section>
    <h3>I can setup and manage servers and databases</h3>
</section>
<section>
    <h3>while making sure the UI is elegant and smooth.</h3>
</section>
<section>
    <h3>I love making things interactive, accessible and performant.</h3>
</section>
<section>
    <h3>I'm up for a new challenge</h3>
</section>
<section>
    <h3>and I'd like to work with you.</h3>
</section>

<!-- <app-navbar></app-navbar> -->
<section id="resume">
    <div class="container">
        <h3 class="resume">
            Resume
        </h3>
        <div class="timeline">
            <div class="">
                Work experience
                <ul>
                    <li>BTS June 2022 - July 2024</li>
                    <li>vDoIT Technologies Nov 2020 - April 2021</li>
                </ul>
            </div>
            <div class="">
                Education
                <ul>
                    <li>University of Illinois, Chicago Aug 2024 - present</li>
                    <li>Mumbai University, Mumbai, India July 2018 - May 2022</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3 class="resume">Projects</h3>
    </div>
</section>

<section id="contact">
    Contact
</section>