<app-navbar></app-navbar>
<section class="hero" id="hero">
    <div class="">
        <h1>Hi, I'm Jai</h1>
        <h3>your next full-stack web developer.</h3>      
    </div>
</section>
<section>
    <h3>I can setup and manage servers and databases</h3>
</section>
<section>
    <h3>while making sure the UI is elegant and smooth.</h3>
</section>
<section>
    <h3>I love making things interactive, accessible and performant.</h3>
</section>
<section>
    <h3>I'm up for a new challenge</h3>
</section>
<section>
    <h3>and I'd like to work with you.</h3>
</section>

<!-- <app-navbar></app-navbar> -->
<section id="resume">
    <div class="">
        <div class="">
            Resume
        </div>
        <div class="">
            Work experience
        </div>
        <div class="">
            Education
        </div>      
    </div>
</section>

<section>
    Projects
</section>

<section id="contact">
    Contact
</section>