*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Trebuchet MS', sans-serif;
}

section{
    // font-family: 'Trebuchet MS', sans-serif;
    font-size: 5rem;

    height: 100vh;

    display: flex;
    justify-content: start;
    align-items: center;

    padding: 3rem;

}










