/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'MontSerrat', 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: MontSerrat;
    src: url(./assets/fonts/Montserrat-Light.ttf) format("opentype");
}
